@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    background: #f8f9fa;
    font-family: 'Cairo', sans-serif;
}
.container_main{
      margin-right: 20%;   /* if sidebar is on the right */
}